<header>
	<link rel="stylesheet" href="/css/header.css">
	<div id="header-left" class="flex-row align-center">
		<a href="/" class="header-logo flex-row align-center">
			{% svg "awen.svg" %}
		</a>
		{%  if page.url !== "/" %}
		<a href="/" class="header-title">{{ site.title }}</a>
		{% endif %}
	</div>
	<div id="header-right" class="flex-row gap-15 align-center">
	{% for link in site.navLinks %}
		<a href="{{ link.url }}">{{ link.text }}</a>
	{% endfor %}
	</div>
</header>