{% extends "layouts/article.njk" %}

{% block body %}
	{%  include 'components/header.njk' %}
	<article>
		{{ content | safe}}
		<br>
		{%  if next %}
		<div class="flex-row justify-between">
			<a href="/work/">← Back to Our Work</a>
			<a href="/work/{{ next}}/">Next Case Study →</a>
		</div>
		{%  else %}
		<a href="/work/">← Back to Our Work</a>
		{%  endif %}
	</article>
	{%  include 'components/footer.njk' %}
{% endblock %}
