:root {
	--off-white: #fffbf6;
	--off-black: #3d3d3d;
	--red-type: #c8392b;
}

body {
	background-color: var(--off-white);
	color: var(--off-black);
	font-family: 'Spectral', 'EB Garamond', 'Palatino Linotype', serif;
	font-size: 1.08em;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	height: 2em;
}

input {
	background: var(--off-white);
	border-radius: 3px;
}

ol {
	margin: 0.5em 0;
}

p {
	margin: 0;
	padding: 0;
}

textarea {
	background: var(--off-white);
	border-radius: 3px;
	resize: none;
	width: 100%;
}

.align-center {
	align-items: center;
}

.align-self-center {
	align-self: center;
}

.align-self-left {
	align-self: start;
}

.align-self-right {
	align-self: end;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.gap-10 {
	gap: 10px;
}

.gap-15 {
	gap: 15px;
}

.justify-between {
	justify-content: space-between;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.woodcut {
	width: 100%;
  	height: 100%;
  	object-fit: cover;

  	transform-origin: center center;

  	display: block;
}

.woodcut-frame {
	border: 1.5px solid var(--off-black);
	height: auto;
	margin: 1em 0 2em 0;
	max-height: 150px;
	overflow: hidden;
	width: 100%;
}